/*div {
  border: 2px solid black;
}*/
body {
    background-color: #EFEFEF;
}

.paddage {
  padding: 3px;
}

.sidebar {
  float: left;
  width: 10%;
}

.container {
  float: right;
  width: 85%;
  background-color: white;
}

.sidebar ul{
  list-style-type: none;
  padding-left: 10px;
}

.sidebar h3{
  font-size: 1em;
  padding-left: 10px;
  border-bottom: 2px solid black;
}

.featured h2 {
  padding: 2px;
  border: 1px solid green;
  font-weight: bold;
  font-size: 2em;
   background-color: brown;
}

.featured {
  background-color: #d4f7c0;
  float: left;
}

.thenews {
  background-color: #dbf9f6;
  float: right;

}

.thenews h2 {
  padding: 2px;
  border: 1px solid blue;
  font-weight: bold;
  font-size: 2em;
   background-color: orange;
}

.featuredpic {
  background-color: purple;
}
